* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(221, 221, 221);
  color: #ffffff;
}

input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  padding: .625rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}

@media (max-width < 37.5rem) {
  body {
    padding: .625rem;
  }
}